include README.rst
include LICENSE.rst

include ez_setup.py
include ah_bootstrap.py
include zmqconfig.py

include zeeko/utils/mclock.h
recursive-include zeeko *.pxd

exclude *.pyc *.o
prune build
prune zeeko/tests
prune zeeko/**/tests
